<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>来</string>
			<string>靠</string>
			<string>格</string>
			<string>发</string>
			<string>挺</string>
			<string>而</string>
			<string>里</string>
			<string>你</string>
			<string>防</string>
			<string>和</string>
			<string>到</string>
			<string>是</string>
			<string>我</string>
			<string>吧</string>
			<string>否</string>
			<string>的</string>
			<string>个</string>
			<string>怀</string>
			<string>哦</string>
			<string>嚄</string>
		</array>
		<key>title</key>
		<string>到我怀里来</string>
		<key>icon</key>
		<string>00</string>
		<key>answer</key>
		<string>到我怀里来</string>
	</dict>
	<dict>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>来</string>
			<string>靠</string>
			<string>格</string>
			<string>发</string>
			<string>有</string>
			<string>而</string>
			<string>里</string>
			<string>你</string>
			<string>防</string>
			<string>和</string>
			<string>人</string>
			<string>是</string>
			<string>我</string>
			<string>多</string>
			<string>否</string>
			<string>的</string>
			<string>个</string>
			<string>怀</string>
			<string>大</string>
			<string>胆</string>
		</array>
		<key>title</key>
		<string>人有多大胆 复习拖多晚</string>
		<key>icon</key>
		<string>11</string>
		<key>answer</key>
		<string>人有多大胆 复习拖多晚</string>
	</dict>
	<dict>
		<key>title</key>
		<string>再打扰我学习 我就跟你一起玩</string>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>来</string>
			<string>打</string>
			<string>学</string>
			<string>发</string>
			<string>挺</string>
			<string>扰</string>
			<string>里</string>
			<string>你</string>
			<string>防</string>
			<string>和</string>
			<string>到</string>
			<string>是</string>
			<string>我</string>
			<string>吧</string>
			<string>否</string>
			<string>的</string>
			<string>个</string>
			<string>怀</string>
			<string>习</string>
			<string>嚄</string>
		</array>
		<key>icon</key>
		<string>22</string>
		<key>answer</key>
		<string>再打扰我学习 我就跟你一起玩</string>
	</dict>
	<dict>
		<key>title</key>
		<string>死猪不怕开水烫 越到考试爹越浪</string>
		<key>optional</key>
		<array>
			<string>不</string>
			<string>来</string>
			<string>怕</string>
			<string>格</string>
			<string>发</string>
			<string>开</string>
			<string>而</string>
			<string>里</string>
			<string>你</string>
			<string>水</string>
			<string>和</string>
			<string>到</string>
			<string>是</string>
			<string>烫</string>
			<string>吧</string>
			<string>否</string>
			<string>的</string>
			<string>个</string>
			<string>怀</string>
			<string>哦</string>
			<string>嚄</string>
		</array>
		<key>icon</key>
		<string>33</string>
		<key>answer</key>
		<string>死猪不怕开水烫 越到考试爹越浪</string>
	</dict>
	<dict>
		<key>title</key>
		<string>熬过了高考 却死在期末考</string>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>来</string>
			<string>靠</string>
			<string>格</string>
			<string>发</string>
			<string>挺</string>
			<string>而</string>
			<string>里</string>
			<string>考</string>
			<string>防</string>
			<string>死</string>
			<string>到</string>
			<string>是</string>
			<string>我</string>
			<string>在</string>
			<string>否</string>
			<string>的</string>
			<string>个</string>
			<string>期</string>
			<string>哦</string>
			<string>末</string>
		</array>
		<key>icon</key>
		<string>44</string>
		<key>answer</key>
		<string>熬过了高考 却死在期末考</string>
	</dict>
	<dict>
		<key>title</key>
		<string>看完这集太子妃我就去学习 真的</string>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>看</string>
			<string>靠</string>
			<string>格</string>
			<string>太</string>
			<string>挺</string>
			<string>而</string>
			<string>子</string>
			<string>你</string>
			<string>防</string>
			<string>和</string>
			<string>到</string>
			<string>是</string>
			<string>我</string>
			<string>吧</string>
			<string>否</string>
			<string>妃</string>
			<string>个</string>
			<string>怀</string>
			<string>哦</string>
			<string>嚄</string>
		</array>
		<key>icon</key>
		<string>55</string>
		<key>answer</key>
		<string>看完这集太子妃我就去学习 真的</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我在装死 你别管我</string>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>我</string>
			<string>靠</string>
			<string>在</string>
			<string>发</string>
			<string>挺</string>
			<string>而</string>
			<string>里</string>
			<string>你</string>
			<string>防</string>
			<string>和</string>
			<string>装</string>
			<string>是</string>
			<string>我</string>
			<string>死</string>
			<string>否</string>
			<string>的</string>
			<string>个</string>
			<string>怀</string>
			<string>哦</string>
			<string>嚄</string>
		</array>
		<key>icon</key>
		<string>66</string>
		<key>answer</key>
		<string>我在装死 你别管我</string>
	</dict>
	<dict>
		<key>title</key>
		<string>人生赢家</string>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>来</string>
			<string>靠</string>
			<string>赢</string>
			<string>发</string>
			<string>挺</string>
			<string>而</string>
			<string>里</string>
			<string>家</string>
			<string>防</string>
			<string>和</string>
			<string>到</string>
			<string>人</string>
			<string>我</string>
			<string>吧</string>
			<string>否</string>
			<string>生</string>
			<string>个</string>
			<string>怀</string>
			<string>哦</string>
			<string>嚄</string>
		</array>
		<key>icon</key>
		<string>77</string>
		<key>answer</key>
		<string>人生赢家</string>
	</dict>
	<dict>
		<key>title</key>
		<string>你喜欢厚实的我吗</string>
		<key>optional</key>
		<array>
			<string>厚</string>
			<string>来</string>
			<string>靠</string>
			<string>格</string>
			<string>发</string>
			<string>挺</string>
			<string>实</string>
			<string>里</string>
			<string>你</string>
			<string>防</string>
			<string>的</string>
			<string>到</string>
			<string>我</string>
			<string>我</string>
			<string>吧</string>
			<string>否</string>
			<string>的</string>
			<string>个</string>
			<string>怀</string>
			<string>哦</string>
			<string>嚄</string>
		</array>
		<key>icon</key>
		<string>88</string>
		<key>answer</key>
		<string>你喜欢厚实的我吗</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我沉溺于知识的海洋无法自拔</string>
		<key>optional</key>
		<array>
			<string>片</string>
			<string>来</string>
			<string>靠</string>
			<string>格</string>
			<string>发</string>
			<string>挺</string>
			<string>知</string>
			<string>里</string>
			<string>你</string>
			<string>防</string>
			<string>和</string>
			<string>的</string>
			<string>是</string>
			<string>我</string>
			<string>吧</string>
			<string>海</string>
			<string>洋</string>
			<string>个</string>
			<string>怀</string>
			<string>哦</string>
			<string>嚄</string>
		</array>
		<key>icon</key>
		<string>99</string>
		<key>answer</key>
		<string>我沉溺于知识的海洋无法自拔</string>
	</dict>
</array>
</plist>
